NODE_ENV="development" # also can be production, staging, test, etc

PORT=3000

DATABASE_URL="postgresql://user:password@localhost:5432/db_name?schema=public"

JWT_SECRET="your-secret"

FRONTEND_URL="http://localhost:8081"

# id e secret gerados na plataforma do google
GOOGLE_CLIENT_ID="id"
GOOGLE_CLIENT_SECRET="secret"
# pode ser utilizada nas portas 3000 e 4000
# conforme configurado no Google Auth Platform
# adeque sua API para isso caso configure de outra forma
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/google/redirect"

# key gerada para a api do portal da transparencia no gov.br
PT_API_KEY="api-key"
PT_API_URL="https://api.portaldatransparencia.gov.br/api-de-dados"
SIAPE_IFCE="26405" # (IFCE) com base na instituição desejada
