# NestJS e Node
node_modules/
dist/

# Prisma
# Não ignore a pasta /prisma, mas ignore o banco local se usar SQLite para testes rápidos
*.db
*.db-journal
**/generated/prisma

# Variáveis de Ambiente
.env
.env.test
.env.production
